<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-2">
      <img src="../../assets/images/logo_blog.PNG">
    </div>
    <div class="col-8">
      <form class="search-form mx-5" action="">
        <input type="text" name="search" placeholder="Search..">
        <button type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
    <div class="col-2 text-end align-self-center">
      <a href="#"><img class="rounded-circle" src="../../assets/images/profile.jpg" width="50px" height="50px"></a>
    </div>
  </div><hr class="mt-2 mb-0">
  <div class="row">
    <div class="col-2 p-0 ms-10 border-end pe-2" style="height: 90vh">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="btn-new-blog nav-link mt-4 mb-2 mx-4 border rounded-pill text-center link-warning fw-bold" href="#" title="Create a new blog">
            <i class="bi bi-plus-lg"></i>
            NEW BLOG
          </a>
        </li><hr>
        <li class="nav-item">
          <a class="nav-link blogs-menu-item-link link-dark" href="#">
            <i class="bi bi-card-text"></i>
            Blogs
          </a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link blogs-menu-item-link link-dark" href="#">
            <i class="bi bi-chat-right-fill"></i>
            Comments
          </a>
        </li>
      </ul>
    </div>
    <div class="col-10">
      <div class="row m-3">
        <select class="form-select form-select b-w-150">
          <option value="1" selected>All (0)</option>
          <option value="2">Published (0)</option>
          <option value="3">Draft (0)</option>
          <option value="4">Scheduled (0)</option>
        </select>
      </div>
      <div class="row m-3 border py-2">
        <div class="col-6">
          <div class="d-flex position-relative">
            <img src="../../assets/images/profile.jpg" class="flex-shrink-0 me-3" alt="..." width="83px" height="83px">
            <div>
              <h5 class="m-0">Custom component with stretched link</h5>
              <p class="mb-2">Published on Aug 13, 2021</p>
              <span class="">
                <a class="me-3 link-dark" href="#" title="View">
                  <i class="bi bi-eye-fill b-fs-large"></i>
                </a>
                <a class="me-3 link-dark" href="#" title="Publish">
                  <i class="bi bi-cursor-fill b-fs-large"></i>
                </a>
                <a class="me-3 link-dark" href="#" title="Share">
                  <i class="bi bi-share-fill"></i>
                </a>
                 <a class="me-3 link-dark" href="#" title="Delete this blog">
                  <i class="bi bi-dash-square-fill"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="col-6 text-end">
          <div class="row">
            <div>
              <h5 class="d-inline me-1">Babul Miah</h5>
              <img class="d-inline rounded-circle" src="../../assets/images/profile.jpg" alt="..." width="50px" height="50px">
            </div>
          </div>
          <div class="row">
            <div class="mt-2">
              <div class="d-inline me-3" title="Comment count">
                5
                <i class="bi bi-chat-right-fill"></i>
              </div>
              <div class="d-inline" title="View Count">
                5
                <i class="bi bi-view-list"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-3 border py-2">
        <div class="col-6">
          <div class="d-flex position-relative">
            <img src="../../assets/images/profile.jpg" class="flex-shrink-0 me-3" alt="..." width="83px" height="83px">
            <div>
              <h5 class="m-0">Custom component with stretched link</h5>
              <p class="mb-2">Published on Aug 13, 2021</p>
              <span class="">
                <a class="me-3 link-dark" href="#" title="View">
                  <i class="bi bi-eye-fill b-fs-large"></i>
                </a>
                <a class="me-3 link-dark" href="#" title="Publish">
                  <i class="bi bi-cursor-fill b-fs-large"></i>
                </a>
                <a class="me-3 link-dark" href="#" title="Share">
                  <i class="bi bi-share-fill"></i>
                </a>
                 <a class="me-3 link-dark" href="#" title="Delete this blog">
                  <i class="bi bi-dash-square-fill"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="col-6 text-end">
          <div class="row">
            <div>
              <h5 class="d-inline me-1">Babul Miah</h5>
              <img class="d-inline rounded-circle" src="../../assets/images/profile.jpg" alt="..." width="50px" height="50px">
            </div>
          </div>
          <div class="row">
            <div class="mt-2">
              <div class="d-inline me-3" title="Comment count">
                5
                <i class="bi bi-chat-right-fill"></i>
              </div>
              <div class="d-inline" title="View Count">
                5
                <i class="bi bi-view-list"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-3 border py-2">
        <div class="col-6">
          <div class="d-flex position-relative">
            <img src="../../assets/images/profile.jpg" class="flex-shrink-0 me-3" alt="..." width="83px" height="83px">
            <div>
              <h5 class="m-0">Custom component with stretched link</h5>
              <p class="mb-2">Published on Aug 13, 2021</p>
              <span class="">
                <a class="me-3 link-dark" href="#" title="View">
                  <i class="bi bi-eye-fill b-fs-large"></i>
                </a>
                <a class="me-3 link-dark" href="#" title="Publish">
                  <i class="bi bi-cursor-fill b-fs-large"></i>
                </a>
                <a class="me-3 link-dark" href="#" title="Share">
                  <i class="bi bi-share-fill"></i>
                </a>
                 <a class="me-3 link-dark" href="#" title="Delete this blog">
                  <i class="bi bi-dash-square-fill"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="col-6 text-end">
          <div class="row">
            <div>
              <h5 class="d-inline me-1">Babul Miah</h5>
              <img class="d-inline rounded-circle" src="../../assets/images/profile.jpg" alt="..." width="50px" height="50px">
            </div>
          </div>
          <div class="row">
            <div class="mt-2">
              <div class="d-inline me-3" title="Comment count">
                5
                <i class="bi bi-chat-right-fill"></i>
              </div>
              <div class="d-inline" title="View Count">
                5
                <i class="bi bi-view-list"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
