<div class="container">
  <div class="card p-5 mx-auto create-account-form">
    <div class="row">
      <div class="h4">
        Create your account
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name">
      </div>
      <div class="col-6">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" id="surname">
      </div>
    </div>
    <div class="row mt-4">
      <div>
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="col-6">
        <label for="makeSurePassword">Make Sure</label>
        <input type="password" class="form-control" id="makeSurePassword">
      </div>
      <span class="password-validation-text text-muted">Use at least 8 characters, combining letters, numbers and symbols</span>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <a href="#">Sign-in instead</a>
      </div>
      <div class="col-6 text-end">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
