<div class="container">
  <div class="row">
    <div class="h2 mb-0">My Word</div>
    <div>Learn more & more</div>
  </div>
  <div class="row mt-md-4">
    <div class="col-md-9">
      <div class="b-bg-white-f2 px-2 pb-2">
        <div class="text-muted">Friday, August 13, 2021</div><hr class="my-1">
        <div class="fs-5">
          <a class="text-dark fw-bold" href="#">What is Lorem Ipsum?</a>
        </div>
        <div class="fw-light b-text-truncate">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
        <div class="pt-2">
          <div class="comments float-start">
            1 Comment
          </div>
          <div class="share text-end">
            <a class="me-1 link-dark" href="#"><i class="bi bi-facebook"></i></a>
            <a class="me-1 link-dark" href="#"><i class="bi bi-linkedin"></i></a>
            <a class="link-dark" href="#"><i class="bi bi-twitter"></i></a>
          </div>
        </div>
      </div>

      <div class="b-bg-white-f2 px-2 pb-2 mt-4">
        <div class="text-muted">Friday, August 13, 2021</div><hr class="my-1">
        <div class="fs-5">
          <a class="text-dark fw-bold" href="#">What is Lorem Ipsum?</a>
        </div>
        <div class="fw-light b-text-truncate">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
        <div class="pt-2">
          <div class="comments float-start">
            1 Comment
          </div>
          <div class="share text-end">
            <a class="me-1 link-dark" href="#"><i class="bi bi-facebook"></i></a>
            <a class="me-1 link-dark" href="#"><i class="bi bi-linkedin"></i></a>
            <a class="link-dark" href="#"><i class="bi bi-twitter"></i></a>
          </div>
        </div>
      </div>

      <div class="b-bg-white-f2 px-2 pb-2 mt-4">
        <div class="text-muted">Friday, August 13, 2021</div><hr class="my-1">
        <div class="fs-5">
          <a class="text-dark fw-bold" href="#">What is Lorem Ipsum?</a>
        </div>
        <div class="fw-light b-text-truncate">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
        <div class="pt-2">
          <div class="comments float-start">
            1 Comment
          </div>
          <div class="share text-end">
            <a class="me-1 link-dark" href="#"><i class="bi bi-facebook"></i></a>
            <a class="me-1 link-dark" href="#"><i class="bi bi-linkedin"></i></a>
            <a class="link-dark" href="#"><i class="bi bi-twitter"></i></a>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <div class="row ms-1">
        <form class="search-form" action="">
          <input type="text" name="search" placeholder="Search..">
          <button type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
      <div class="row ms-3 mr-1 mt-4">
        <div class="text-dark fw-bold">About Me</div>
        <div class="card">
          <div class="row g-0">
            <div class="col-md-4 py-2">
              <img src="../../assets/images/profile.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Babul Miah</h5>
                <p class="card-text"><small class="text-muted"><a href="#">View profile</a></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row ms-3 mr-1 mt-4">
        <div class="text-dark fw-bold">Popular Blogs</div>
        <div class="card">
          <div class="row g-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="https://drive.google.com/drive/folders/1P6tMaY-0-XuopwS5Hcs1ANAGWssGrqmg">What is Lorem Ipsum?</a></li>
              <li class="list-group-item"><a href="https://drive.google.com/drive/folders/1P6tMaY-0-XuopwS5Hcs1ANAGWssGrqmg">home page</a></li>
              <li class="list-group-item"><a href="https://drive.google.com/drive/folders/1P6tMaY-0-XuopwS5Hcs1ANAGWssGrqmg">home page</a></li>
              <li class="list-group-item"><a href="https://drive.google.com/drive/folders/1P6tMaY-0-XuopwS5Hcs1ANAGWssGrqmg">What is Lorem Ipsum?</a></li>
              <li class="list-group-item"><a href="https://drive.google.com/drive/folders/1P6tMaY-0-XuopwS5Hcs1ANAGWssGrqmg">home page</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row ms-3 mr-1 mt-4">
        <div class="text-dark fw-bold">Recent Blogs</div>
        <div class="card">
          <div class="row g-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="https://drive.google.com/drive/folders/1P6tMaY-0-XuopwS5Hcs1ANAGWssGrqmg">home page</a></li>
              <li class="list-group-item"><a href="https://drive.google.com/drive/folders/1P6tMaY-0-XuopwS5Hcs1ANAGWssGrqmg">home page</a></li>
              <li class="list-group-item"><a href="https://drive.google.com/drive/folders/1P6tMaY-0-XuopwS5Hcs1ANAGWssGrqmg">home page</a></li>
              <li class="list-group-item"><a href="https://drive.google.com/drive/folders/1P6tMaY-0-XuopwS5Hcs1ANAGWssGrqmg">home page</a></li>
              <li class="list-group-item"><a href="https://drive.google.com/drive/folders/1P6tMaY-0-XuopwS5Hcs1ANAGWssGrqmg">home page</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
